
  .loginDiv { 
    background-image: url("../../src/images/loginImage.png");
    height: 100%; 
    width: 100%;
    min-height: 875px;
    min-width: 342px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width: 600px) {
 .loginDiv { 
    min-height: 734px;
   
  }}
